* {
    margin:0;
    padding:0;
}

img {
    max-width:100%;
}

.homepage {
    margin-top: 30px;
}

.homepage h2 {
    margin-bottom: 30px;
}

.menu-item {
    margin-bottom: 30px;
}